//== Fonts
//
//##
$base-font-size: 1.6rem;
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: 400;
$base-line-height: 1.6;

$heading-font-family: 'Open Sans', sans-serif;
$heading-font-weight: 600;

$fixed-font-family: 'Open Sans', sans-serif;
$fixed-font-size: 1.4rem;
$fixed-line-height: 1.2;


//== Colors
//
//## Gray and brand colors
$brand-color: #A8F !default;
$primary-color: $brand-color;

$text-color: #555 !default;
$quiet-color: #999 !default;
$loud-color: #222 !default;

// status colors
$success-color: #4F8 !default;
$info-color: #48F !default;
$warning-color: #FD4 !default;
$error-color: #F45 !default;


//== Z-indexes
//
//## Predefined z-indexes set.
/// Z-indexes map, gathering all Z layers of the application
/// @access private
/// @type Map
/// @prop {String} key - Layer’s name
/// @prop {Number} value - Z value mapped to the key
$z-indexes: (
  'modal': 5000,
  'overlay': 4000,
  'dropdown': 3000,
  'floating': 2000,
  'default': 1,
  'below': -1,
);

/// Get a z-index value from a layer name
/// @access public
/// @param {String} $layer - Layer’s name
/// @return {Number}
/// @require $z-indexes
@function z($layer) {
  @return map-get($z-indexes, $layer);
}
