.map--title {
  position: absolute;
  z-index: z('floating');
  left: 0;
  bottom: 0;
  padding: 3rem;
  color: white;
  text-shadow: 0 .2rem 1.6rem rgba(0,0,0,.1);
  box-sizing: border-box;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;

  font-size: 6rem;
  
  @include respond-to(medium-screens) { font-size: 8rem; }
  @include respond-to(wide-screens) { font-size: 12rem; }

  &::before {
    content: '#';
  }
}
