.profile {
  width: 100%;
  min-width: 32rem;
  max-width: 48rem;
  box-sizing: border-box;

  margin: auto;
  padding: 3rem;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: z('floating');

  text-align: center;

  .profile--picture {
    display: inline-block;
    @include size(6.4rem);
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    transform: rotate(45deg);

    padding: .4rem;
    border-radius: 50% 50% 0 50%;
    background: white;
    > img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      transform: rotate(-45deg);
    }

    @extend %floating-box;
  }

  .profile--facebook-login {
    display: block;
    background: #4c69ba;
    border: 1px solid #4c69ba;
    border-radius: 4rem;
    padding: 1em 2em;
    margin: auto;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s, border-color .3s;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;

    @extend %floating-box;

    .fa {
      margin-right: 0.35em;
    }
  }

  .profile--display-name {
    padding: 1em;
  }
}
