.search-box {
  width: 100%;
  min-width: 32rem;
  max-width: 48rem;
  box-sizing: border-box;

  margin: auto;
  padding: 0 3rem;

  position: absolute;
  top: 12rem;
  left: 0;
  right: 0;

  z-index: z('floating');

  .search-box--results {
    list-style: none;
    background: white;
    margin: 0.8rem 2.4rem;

    @extend %floating-box;

    &.search-box--results--hidden {
      display: none;
    }

    .search-box--topic-result,
    .search-box--create-topic,
    .search-box--pending-search {
      padding: 1.6rem;
      cursor: pointer;

      transition: .25s;

      &:hover,
      &:focus,
      &:active,
      &.active {
        background: $primary-color;
        color: white;
      }
    }
    .search-box--create-topic {
      background: $info-color;
      color: white;
      text-align: center;
      &:hover,
      &:focus,
      &:active,
      &.active {
        background: $warning-color;
      }
    }

    &.search-box--results--loading {
      color: white;
      text-align: center;

      &,
      &:hover,
      &:focus,
      &:active,
      &.active {
        background: $warning-color;
      }

      &::after {
        content: 'loading...';
      }
    }
  }
}
